{
    "extends": "airbnb/base",
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "comma-dangle": ["warn", "only-multiline"],
        "max-len": ["warn", {"code": 120, "ignoreComments": true, "ignoreUrls": true}],
        "no-param-reassign": "off",
        "object-curly-spacing": ["warn", "never"],
        "space-before-function-paren": 0,
        "no-confusing-arrow": ["error", {"allowParens": true}],
        "no-multiple-empty-lines": ["error", {"max": 1, "maxEOF": 0, "maxBOF": 0}],
        "no-multi-spaces": ["error", {"ignoreEOLComments": true}],
        "quote-props": ["error", "consistent"],
        "func-names": "off",
        "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
        "no-cond-assign": ["error", "except-parens"],
        "function-paren-newline": ["warn", "consistent"]
    }
}
